#Homework: Spark SQL

In this homework you will gain a mastery of using Spark SQL. The homework can be run locally or on an EMR cluster.  The current version is for running locally.  

The goal of the homework will be to create a training dataset for a Random Forest Machine learning model. The training data set will contain the monthly number of employees hired by companies in `linkedin.json` and their corresponding closing stock prices over a 10+ year period (1970-2018 `stock_prices.csv`). We will try and predict, based on this data, if the company will have a positive or negative growth in stock in the first quarter of the next year. Who's ready to make some money?

## Notes
Before we begin here are some important notes to keep in mind,

1. You are **required** to use Spark SQL queries to handle the data in the assignment. Mastering SQL is more beneficial than being able to use Spark commands (functions) as it will show up in more areas of programming and data science/analytics than just Spark. Use the following [function list](https://spark.apache.org/docs/latest/api/sql/index.html#) to see all the SQL functions avaliable in Spark.

2. There are portions of this homework that are _very_ challenging.

In [0]:
%%capture
!apt update
!apt install gcc python-dev libkrb5-dev
!pip install sparkmagic
!pip install pyspark

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import *
import pyspark.sql.functions as F
from pyspark.sql import SQLContext
import json
import urllib.request

from datetime import datetime

try:
    if(spark == None):
        spark = SparkSession.builder.appName('Graphs').getOrCreate()
        sqlContext=SQLContext(spark)
        
except NameError:
    spark = SparkSession.builder.appName('Graphs').getOrCreate()
    sqlContext=SQLContext(spark)
        
from pyspark.sql.types import *

## Step 1: Data Cleaning and Shaping

When used for single machine like Colab, you should mount Google Drive to Colab and visit the data file locally. 

If used remotely, please refer to the 'remote' version of the notebook. For remote version, the data you will use is stored in an S3 bucket, a cloud storage service. You now need to download it onto the nodes of your [EMR cluster](https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-what-is-emr.html). 

### Step 1.1: The Stupendous Schema

When loading data, Spark will try to infer the structure. This process is faulty because it will sometimes infer the type incorrectly. JSON documents, like the one we will use, can have nested types, such as: arrays, arrays of dictionaries, dictionaries of dictionaries, etc. Spark's ability to determine these nested types is not reliable, thus you will define a schema for `linkedin.json`.

A schema is a description of the structure of data. You will be defining an explicit schema for `linkedin.json`. In Spark, schemas are defined using a `StructType` object. This is a collection of data types, termed `StructField`s, that specify the structure and variable type of each component of the dataset. For example, suppose we have the following simple JSON object,


```
{
 "student_name": "Leonardo Murri",
 "GPA": 1.4,
 "courses": [
    {"department": "Computer and Information Science",
     "course_id": "CIS 545",
     "semester": "Fall 2018"},
    {"department": "Computer and Information Science",
     "course_id": "CIS 520",
     "semester": "Fall 2018"},
    {"department": "Electrical and Systems Engineering",
     "course_id": "ESE 650",
     "semester": "Spring 2018"}
 ],
 "grad_year": 2019
 }
```

We would define its schema as follows,

```       
schema = StructType([
           StructField("student_name", StringType(), nullable=True),
           StructField("GPA", FloatType(), nullable=True),
           StructField("courses", ArrayType(
                StructType([
                  StructField("department", StringType(), nullable=True),
                  StructField("course_id", StringType(), nullable=True),
                  StructField("semester", StringType(), nullable=True)
                ])
           ), nullable=True),
           StructField("grad_year", IntegerType(), nullable=True)
         ])
```


Each `StructField` has the following structure: `(name, type, nullable)`. The `nullable` flag defines that the specified field may be empty. Your first task is to define the `schema` of `linkedin.json`. 

_Note_: In `linkedin.json` the field `specilities` is spelled incorrectly. This is **not** a typo.

In [0]:
# TODO: Define [linkedin.json] schema
# YOUR CODE HERE

### Step 1.2: The Laudable Loading

Load the `linkedin.json` dataset into a Spark dataframe (sdf) called `raw_data_sdf`. If you have constructed `schema` correctly `spark.read.json()` will read in the dataset. ***You do not need to edit this cell***.

In [0]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
raw_data_sdf = spark.read.json('/content/drive/My Drive/Colab Notebooks/test_data_10000.json', schema=schema)

In [0]:
raw_data_sdf.show(10)

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|                 _id|           education|               group|                name|            locality|              skills|            industry|interval|          experience|             summary|           interests|       overview_html|         specilities|            homepage|              honors|                 url|           also_view|              events|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|ichsrrdhpxlojntri...|[[2007, Computer ...|                null|   [Klenin, Ignacio]|   Eskisehir, Turkey|[{"value":"Cellul...|           Animasyon|    null|[[UBS, Executive ...|An experienced ge...|Reading books, wa...|                null|Areas Of Practice...|                null|[{"value":"-Talen...|ftsycpiuiasaecavd...|[[in-kaliouby, ht...|                  []|
|sxaybhrpeceeanwwq...|[[1990,, 1995, Th...|[[Entertainment T...|       [Oprea, Adam]|York, United Kingdom|                  []|     Pharmaceuticals|    null|[[Spencer J Lloyd...|1 - Strategic Man...|Travel, Live Musi...|<dl id="overview"...|redacción, comuni...|                null|                  []|zramixfzvfpoiysoa...|                  []|[[A.R.M. Autoleas...|
|cfogybqdnddowlhca...|[[1970, Ciencias ...|[[Denim People's ...|      [London, Ajay]|Greater Nashville...|                  []|           Asigurări|    null|[[AIMS Accountant...|An experienced an...|Sales and busines...|<dl id="overview"...|Applied microecon...|{'Personal Websit...|                  []|ftcisrobxsxkayhot...|[[pub-evan-willem...|[[Madix, Inc, Bec...|
|vzcoxvvnuarepgqxm...|[[1976,, 1980, Un...|[[BRASIL: VAGAS E...|[Kilbourne, CPSM,...|Madison, Wisconsi...|                  []|    Higher Education|    null|[[Deshel, Thought...|Passionate about ...|Reading Magzines,...|<dl id="overview"...|DSP (speech, audi...|{'Blog': ['http:/...|                  []|xgjwidohcoapijxrz...|[[pub-sanjay-bali...|[[Safeway, Tolt S...|
|qcocuvfhzactuygqs...|[[2000, Mathemati...|[[A&I - Accoglien...|  [Grando, ADAMARIO]|Santa Monica, Cal...|                  []|Compagnie aérienn...|    null|[[The Best Match ...|20+ years of cons...|Networks, algorit...|<dl id="overview"...|Territory Managem...|                null|                  []|podsgvxoxjtqytuto...|[[pub-rakhmat-han...|                  []|
|zclxbuwmpxdfyjqod...|[[1982,, 1985, TA...|[[AngloINFO Luxem...|      [Mazzan, Ægir]|Région de Berne, ...|                  []|Företagsrådgivnin...|    null|[[Inland Die Cast...|Senior marketing ...|Software architec...|                null|Transport, Energy...|{'Equinoxia': ['h...|                  []|bjzrawqtzzimbnfki...|[[pub-cassidy-alo...|[[Grupo Saint Gob...|
|hfabkdaosboiuahnb...|[[1993, Tourism M...|[[IIHEM Alumni As...|   [HTX, Alessandra]|           Финляндия|[{"value":"Google...|Politieke organis...|    null|[[Waanders In de ...|Accomplished Seni...|      New technology|<dl id="overview"...|Extensive project...|{'Portfolio': ['h...|                  []|mhomrevpmexgahplj...|                  []|[[Caixa Economica...|
|gdngchsbqmiangfuy...|[[2010, Financial...|[[Affordable Hous...|    [Tegerdine, Ain]|Milwaukee, Wisconsin|[{"value":"Event ...|      Mediaproductie|    null|[[Xebia, CTO Deve...|I am a highly mot...|pharmaceutical de...|<dl id="overview"...|Mobile phone soft...|                null|                  []|wltetjmkamjtcalgs...|[[pub-adina-milit...|[[Saudi Aramco, S...|
|blzhknuzppzoowgrh...|[[2003, Masters i...|[[American League...|    [Zakout, Adeena]|Greater Detroit Area|[{"value":"Consul...|Marketing and Adv...|    null|[[NVIDIA, Senior ...|Entrepreneurial p...|• Reservoir geolo...|<dl id="overview"...|Communication & B...|{'Personal Websit...|                  []|fxytkwxnzckrdtkoi...|[[in-adityadsharm...|                  []|
|uiehloqlgpryzqwbb...|[[2009, CCNA, MCS...|[[The University ...|  [Furman, Madalina]|Alba County, Romania|[{"value":"ETL"},...|Traduzione e loca...|    null|[[Dirk Bikkemberg...|Specialties: Inte...|Motorbikes, Histo...|                null|SEO, Product Deve...|{'The Learning Co...|                  []|tafqulhcubhqmfdxd...|[[pub-rajiv-willi...|[[Liones, TU Delf...|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 10 rows

In [0]:
raw_data_sdf.where(F.col('_id').isNull()).count()

0

The cell below shows how to run SQL commands on Spark tables. Use this as a template for all your SQL queries in this notebook. ***You do not need to edit this cell***.

In [0]:
# Create SQL-accesible table
raw_data_sdf.createOrReplaceTempView("raw_data")

# Declare SQL query to be excecuted
query = '''SELECT * 
           FROM raw_data'''

# Save the output sdf of spark.sql() as answer_sdf
answer_sdf = spark.sql(query)

# Display the first 10 rows
answer_sdf.show(10)

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|                 _id|           education|               group|                name|            locality|              skills|            industry|interval|          experience|             summary|           interests|       overview_html|         specilities|            homepage|              honors|                 url|           also_view|              events|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|ichsrrdhpxlojntri...|[[2007, Computer ...|                null|   [Klenin, Ignacio]|   Eskisehir, Turkey|[{"value":"Cellul...|           Animasyon|    null|[[UBS, Executive ...|An experienced ge...|Reading books, wa...|                null|Areas Of Practice...|                null|[{"value":"-Talen...|ftsycpiuiasaecavd...|[[in-kaliouby, ht...|                  []|
|sxaybhrpeceeanwwq...|[[1990,, 1995, Th...|[[Entertainment T...|       [Oprea, Adam]|York, United Kingdom|                  []|     Pharmaceuticals|    null|[[Spencer J Lloyd...|1 - Strategic Man...|Travel, Live Musi...|<dl id="overview"...|redacción, comuni...|                null|                  []|zramixfzvfpoiysoa...|                  []|[[A.R.M. Autoleas...|
|cfogybqdnddowlhca...|[[1970, Ciencias ...|[[Denim People's ...|      [London, Ajay]|Greater Nashville...|                  []|           Asigurări|    null|[[AIMS Accountant...|An experienced an...|Sales and busines...|<dl id="overview"...|Applied microecon...|{'Personal Websit...|                  []|ftcisrobxsxkayhot...|[[pub-evan-willem...|[[Madix, Inc, Bec...|
|vzcoxvvnuarepgqxm...|[[1976,, 1980, Un...|[[BRASIL: VAGAS E...|[Kilbourne, CPSM,...|Madison, Wisconsi...|                  []|    Higher Education|    null|[[Deshel, Thought...|Passionate about ...|Reading Magzines,...|<dl id="overview"...|DSP (speech, audi...|{'Blog': ['http:/...|                  []|xgjwidohcoapijxrz...|[[pub-sanjay-bali...|[[Safeway, Tolt S...|
|qcocuvfhzactuygqs...|[[2000, Mathemati...|[[A&I - Accoglien...|  [Grando, ADAMARIO]|Santa Monica, Cal...|                  []|Compagnie aérienn...|    null|[[The Best Match ...|20+ years of cons...|Networks, algorit...|<dl id="overview"...|Territory Managem...|                null|                  []|podsgvxoxjtqytuto...|[[pub-rakhmat-han...|                  []|
|zclxbuwmpxdfyjqod...|[[1982,, 1985, TA...|[[AngloINFO Luxem...|      [Mazzan, Ægir]|Région de Berne, ...|                  []|Företagsrådgivnin...|    null|[[Inland Die Cast...|Senior marketing ...|Software architec...|                null|Transport, Energy...|{'Equinoxia': ['h...|                  []|bjzrawqtzzimbnfki...|[[pub-cassidy-alo...|[[Grupo Saint Gob...|
|hfabkdaosboiuahnb...|[[1993, Tourism M...|[[IIHEM Alumni As...|   [HTX, Alessandra]|           Финляндия|[{"value":"Google...|Politieke organis...|    null|[[Waanders In de ...|Accomplished Seni...|      New technology|<dl id="overview"...|Extensive project...|{'Portfolio': ['h...|                  []|mhomrevpmexgahplj...|                  []|[[Caixa Economica...|
|gdngchsbqmiangfuy...|[[2010, Financial...|[[Affordable Hous...|    [Tegerdine, Ain]|Milwaukee, Wisconsin|[{"value":"Event ...|      Mediaproductie|    null|[[Xebia, CTO Deve...|I am a highly mot...|pharmaceutical de...|<dl id="overview"...|Mobile phone soft...|                null|                  []|wltetjmkamjtcalgs...|[[pub-adina-milit...|[[Saudi Aramco, S...|
|blzhknuzppzoowgrh...|[[2003, Masters i...|[[American League...|    [Zakout, Adeena]|Greater Detroit Area|[{"value":"Consul...|Marketing and Adv...|    null|[[NVIDIA, Senior ...|Entrepreneurial p...|• Reservoir geolo...|<dl id="overview"...|Communication & B...|{'Personal Websit...|                  []|fxytkwxnzckrdtkoi...|[[in-adityadsharm...|                  []|
|uiehloqlgpryzqwbb...|[[2009, CCNA, MCS...|[[The University ...|  [Furman, Madalina]|Alba County, Romania|[{"value":"ETL"},...|Traduzione e loca...|    null|[[Dirk Bikkemberg...|Specialties: Inte...|Motorbikes, Histo...|                null|SEO, Product Deve...|{'The Learning Co...|                  []|tafqulhcubhqmfdxd...|[[pub-rajiv-willi...|[[Liones, TU Delf...|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 10 rows

### Step 1.3: The Extravagent Extraction

In our training model, we are interested in when individuals began working at a company.  From creating the schema, you should notice that the collection of companies inviduals worked at are contained in the `experience` field as an array of dictionaries. You should use the `org` for the company name and `start` for the start date. Here is an example of an `experience` field,

```
{
   "experience": [
     {
        "org": "The Walt Disney Company", 
        "title" : "Mickey Mouse",
        "end" : "Present",
        "start": "November 1928",
        "desc": "Sailed a boat."
     },
     {
        "org": "Walt Disney World Resort",
        "title": "Mickey Mouse Mascot",
        "start": "January 2005",
        "desc": "Took pictures with kids."
     }
   ]
}
```

Your task is to extract each pair of company and start date from these arrays. In Spark, this is known as "exploding" a row. An explode will seperate the elements of an array into multiple rows.

Create an sdf called `raw_start_dates_sdf` that contains the company and start date for every experience of every individual in `raw_data_sdf`. Drop any row that contains a `null` in either column with `dropna()`. You can sort the elements however you wish (you don't need to if you don't want to). The sdf should look as follows:

```
+--------------------------+---------------+
|org                       |start_date     |
+--------------------------+---------------+
|Walt Disney World Resort  |January 2005   | 
|The Walt Disney Company   |November 1928  |
|...                       |...            |
+--------------------------+---------------+
```

_Hint_: You may want to do two seperate explodes for `org` and `start`. In an explode, the position of the element in the array can be extracted as well, and used to merge two seperate explodes. Reference the [function list](https://spark.apache.org/docs/2.3.0/api/sql/index.html).

_Note_: Some of the entires in `org` are "weird", i.e. made up of non-english letters and characters. Keep them. **DO NOT** edit any name in the original dataframe unless we specify. **DO NOT** drop any row unless there is a `null` value as stated before. This goes for the rest of the homework as well, unless otherwise specified.

In [0]:
# TODO: Create [raw_start_dates_sdf]

  ##YOUR ANSWER HERE

In [0]:
raw_start_dates_sdf.show(4)

+--------------------+------------+
|                 org|  start_date|
+--------------------+------------+
|         Iora Health|        2011|
|University of Wat...|January 1999|
|      Ingersoll Rand|October 2000|
|      GE Real Estate|October 2005|
+--------------------+------------+
only showing top 4 rows

### Step 1.4: The Fortuitous Formatting

There are two issues with the values in our `date` column. First, the values are saved as strings, not datetime types. This keeps us from running functions such as `ORDER BY` or `GROUP BY` on common months or years. Second, some values do not have both month and year information or are in other languages. Your task is to filter out and clean the `date` column. We are interested in only those rows that have date in the following format "(month_name) (year)", e.g. "October 2010".

Create an sdf called `filtered_start_dates_sdf` from `raw_start_dates_sdf` with the `date` column filtered in the manner above. Keep only those rows with a start date between January 2000 to December 2011, inclusive. Ensure that any dates that are not in our desired format are ommitted. Drop any row that contains a `null` in either column. The format of the sdf is shown below:
```
+--------------------------+---------------+
|org                       |start_date     |
+--------------------------+---------------+
|Walt Disney World Resort  |2005-01-01     | 
|...                       |...            |
+--------------------------+---------------+
```
_Hint_: Refer to the [function list](https://spark.apache.org/docs/2.3.0/api/sql/index.html) to format the `date` column. In Spark SQL the date format we are interested in is `"MMM y"`.

_Note_: Spark will return the date in the format above, with the day as `01`. This is ok, since we are interested in the month and year each individual began working and all dates will have `01` as their day.

In [0]:
# TODO: Create [filtered_start_dates_sdf]

## YOUR ANSWER HERE

In [0]:
filtered_start_dates_sdf.show()

+--------------------+----------+
|                 org|start_date|
+--------------------+----------+
|      Ingersoll Rand|2000-10-01|
|      GE Real Estate|2005-10-01|
|Nissan Motor Co.,...|2002-02-01|
|Enthone, a busine...|2007-08-01|
|Prem Communicatio...|2003-03-01|
|SNAP! Public Rela...|2010-02-01|
|Coreobjects India...|2007-04-01|
|        AlixPartners|2002-12-01|
|       Nilkamal Ltd.|2005-07-01|
|   Cognilytics, Inc.|2010-01-01|
| Warings Contractors|2004-06-01|
|Acuvate Software ...|2010-01-01|
|                AtoS|2008-05-01|
|             Redleaf|2000-06-01|
|ACCENTURE Service...|2007-02-01|
|Web Image Consulting|2007-12-01|
|                 SAP|2009-01-01|
|University of Vic...|2010-10-01|
|  Descon Engineering|2008-06-01|
|Anglo American Sc...|2008-10-01|
+--------------------+----------+
only showing top 20 rows

### Step 1.5 The Gregarious Grouping

We now want to collect the number of individuals that started in the same month and year for each company. Create an sdf called `start_dates_sdf` that has the total number of employees who began working at the same company on the same start date. The format of the sdf is shown below:

```
+--------------------------+---------------+---------------+
|org                       |start_date     |num_employees  |
+--------------------------+---------------+---------------+
|Walt Disney World Resort  |2005-01-01     |1              |
|...                       |...            |...            |
+--------------------------+---------------+---------------+
```

In [0]:
# TODO: Create [start_dates_sdf]

## YOUR ANSWER HERE

In [0]:
start_dates_sdf.show()

+--------------------+----------+-------------+
|                 org|start_date|num_employees|
+--------------------+----------+-------------+
|               Sharp|2008-02-01|            2|
|         Atos Origin|2009-01-01|            3|
|            TuneCore|2006-12-01|            2|
|            Unilever|2010-05-01|            1|
|Pfizer Global Man...|2008-01-01|            1|
|   Petronas Carigali|2007-06-01|            1|
|ArcelorMittal Dof...|2008-09-01|            3|
|     Backcountry.com|2010-11-01|            1|
|          Valuebound|2010-04-01|            1|
|Corporate Voice W...|2009-04-01|            4|
|Technical Wings, ...|2006-08-01|            2|
|               Tieto|2010-10-01|            1|
| BMO Financial Group|2006-12-01|            1|
|Caribbean Moving ...|2009-05-01|            2|
|               done!|2011-04-01|            1|
|  Det Norske Veritas|2008-08-01|            1|
|Lockheed Martin S...|2004-06-01|            3|
|                 ING|2003-02-01|            1|
|     Barry Callebaut|2006-09-01|            2|
| United Bank Limited|2004-01-01|            1|
+--------------------+----------+-------------+
only showing top 20 rows

## Step 2: Hiring Trends Analysis

Now we will analyze `start_dates_sdf` to find monthly and annual hiring trends.

### Step 2.1: The Marvelous Months

Your task is to answer the question: "On average, what month do most employees start working?" Create an sdf called `monthly_hires_sdf` which contains the total number of employees that started working on a specific month, at any company and on any year. The `month` column should be of type `int`, i.e. 1-12. The format of the sdf is shown below:

```
+---------------+---------------+
|month          |num_employees  |
+---------------+---------------+
|1              |...            |
|2              |...            |
|3              |...            |
|...            |...            |
+---------------+---------------+
```

Find the month in which the most employees start working and save its number as an integer to the variable `most_common_month`.

_Hint_: Be careful. The start dates we have right now have both month and year. We only want the common months. See if you can find something in the [function list](https://spark.apache.org/docs/2.3.0/api/sql/index.html) that will help you do this.

In [0]:
# TODO: Create [monthly_hire_sdf] and find the most common month people were
# hired. Save its number as an integer to [most_common_month]

## YOUR ANSWER HERE

In [0]:
monthly_hires_sdf.show()

+-----+----+
|month| num|
+-----+----+
|   12|1536|
|    1|3717|
|    6|3014|
|    3|2111|
|    5|2757|
|    9|2937|
|    4|2287|
|    8|2652|
|    7|2632|
|   10|2411|
|   11|1886|
|    2|1921|
+-----+----+

### Step 2.2: The Preposterous Percentages

The next question we will answer is "What is the percentage change in hires between 2010 and 2011 for each company?" Create an sdf called `percentage_change_sdf` that has the percentage change between 2010 and 2011 for each company. The sdf should look as follows:

```
+---------------------------+--------------------+
|org                        |percentage_change   |
+---------------------------+--------------------+
|Walt Disney World Resort   |12.3                |
|...                        |...                 |
+---------------------------+--------------------+
```

_Note_: A percentage change can be positive or negative depending 
on the difference between the two years.The formula for percent change is given below,

$$\text{% change} = \frac{P_f-P_i}{P_f} \times 100$$

Here, $P_f$ is the final element (in this case the number of hires in 2011) and $P_i$ is initial element (the number of hires in 2010).

_Hint_: This is a **difficult** question. We recommend using a combination of `GROUP BY` and `JOIN`. Keep in mind that operations between columns in SQL dataframes are often easier than those between rows.

In [0]:
# TODO: Create [percentage_change_sdf]

## YOUR ANSWER HERE

In [0]:
percentage_change_sdf.where(F.col('percentage_change')>0).show()

+--------------------+------------------+
|                 org| percentage_change|
+--------------------+------------------+
|                 OBS|              50.0|
|Bank Danamon Indo...| 33.33333333333333|
|Bharti Airtel Lim...|              25.0|
|       Self Employed|              80.0|
|             Avanade| 66.66666666666666|
| Columbia University|              25.0|
|            Vodafone|              80.0|
|      Robert Walters| 66.66666666666666|
|  Research In Motion|              75.0|
|              Syntel| 66.66666666666666|
|           Accenture|              25.0|
|              Oracle| 8.333333333333332|
|     United Airlines|              50.0|
|University of Col...|              50.0|
|           Capgemini|              80.0|
|              schooX|              50.0|
|Cypress Semicondu...| 33.33333333333333|
|            Deloitte|58.333333333333336|
|         GlobalLogic| 66.66666666666666|
|Imperial College ...| 33.33333333333333|
+--------------------+------------------+
only showing top 20 rows

In [0]:
percentage_change_sdf.show()

+--------------------+------------------+
|                 org| percentage_change|
+--------------------+------------------+
|       GE Healthcare|               0.0|
|          321 LAUNCH|               0.0|
|Patrick Henry Col...|               0.0|
|                 OBS|              50.0|
|GEA Process Engin...|            -100.0|
|                 UBS|               0.0|
|               Nokia|             -50.0|
|   Provectus IT, Inc|               0.0|
|        BMC Software|               0.0|
|Bank Danamon Indo...| 33.33333333333333|
|               Hatch|            -100.0|
|Swiss-Belhotel In...|               0.0|
|              Sulake|               0.0|
|            Unilever|-66.66666666666666|
|  Schneider Electric|            -100.0|
|TCS Express and l...|               0.0|
|           Euro RSCG|               0.0|
|Loyola University...|               0.0|
|National Associat...|               0.0|
|           OfficeMax|               0.0|
+--------------------+------------------+
only showing top 20 rows

## Step 3: Formatting the Training Data


Our overaching goal is to train a machine learning (ML) model that will use the monthly hiring trends of a company to predict a positive or negative gain in the company's stock in the first quarter of the following year. A ML model is trained on a set of observations. Each observation contains a set of features, `X`, and a label, `y`. The goal of the ML model is to create a function that takes any `X` as an input and outputs a predicted `y`. 

The machine learning model we will use is a [Random Forest Classifier](https://builtin.com/data-science/random-forest-algorithm). Each observation we will pass in will have 24 features (columns). These are the number of people hired from Jan to Dec and the company stock price on the last day of each month. The label will be the direction of the company's stock percentage change (positive, `1`, or negative, `-1`) in the first quarter of the following year. Each observation will correspond to a specified company's trends on a specified year. The format of our final training sdf is shown below. The first 26 columns define our observations, `X`, and the last column the label, `y`.
```
+----+-----+----------+---------+----------+----------+---------+----------+-------------+
|org |year |jan_hired |   ...   |dec_hired |jan_stock |   ...   |dec_stock |stock_result |
+----+-----+----------+---------+----------+----------+---------+----------+-------------+
|IBM |2008 |...       |   ...   |...       |...       |   ...   |...       |1            |
|IBM |2009 |...       |   ...   |...       |...       |   ...   |...       |-1           |
|... |...  |...       |   ...   |...       |...       |   ...   |...       |...          |
+----+-----+----------+---------+----------+----------+---------+----------+-------------+
```

_Note_: We will use the first three letters of each month in naming, i.e. `jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec`



### Step 3.1: The Harmonious Hires

Your first task is to create the first half of the training table, i.e. the `jan_hired` through `dec_hired` columns. This will involve reshaping `start_dates_sdf`. Currently, `start_dates_sdf` has columns `org`, `start_date`, and `num_employees`. We want to group the rows together based on common `org` and years and create new columns for the number of employees that started working in each month of that year.

Create an sdf called `raw_hirings_for_training_sdf` that has for a single company and a single year, the number of hires in Jan through Dec, and the total number of hires that year. Note that for each company you will have several rows corresponding to years between 2000 and 2011. It is ok if for a given company you don't have a given year. However, ensure that for a given company and given year, each month column has an entry, i.e. if no one was hired the value should be `0`. The format of the sdf is shown below: 
```
+----+-----+----------+---------+----------+----------+
|org |year |jan_hired |   ...   |dec_hired |total_num |
+----+-----+----------+---------+----------+----------+
|IBM |2008 |...       |   ...   |...       |...       |
|IBM |2009 |...       |   ...   |...       |...       |
|... |...  |...       |   ...   |...       |...       |
+----+-----+----------+---------+----------+----------+
```
_Hint_: This is a **difficult** question. The tricky part is creating the additional columns of monthly hires, specifically when there are missing dates. In our dataset, if a company did not hire anybody in a given date, it will not appear in `start_dates_sdf`. We suggest you look into `CASE` and `WHEN` statements in the [function list](https://spark.apache.org/docs/2.3.0/api/sql/index.html).

In [0]:
# TODO: Create [raw_hire_train_sdf]

## YOUR SOLUTION HERE

In [0]:
raw_hire_train_sdf.show()

+--------------------+----+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|                 org|year|jan_hired|feb_hired|mar_hired|apr_hired|may_hired|jun_hired|jul_hired|aug_hired|sep_hired|oct_hired|nov_hired|dec_hired|total_num|
+--------------------+----+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|   Referencement.com|2006|        0|        0|        0|        0|        1|        0|        0|        0|        0|        0|        0|        0|        1|
|NHS Greater Glasg...|2008|        1|        0|        0|        0|        0|        0|        0|        0|        0|        0|        0|        0|        1|
|Bioengineering La...|2010|        0|        0|        0|        0|        0|        0|        1|        0|        0|        0|        0|        0|        1|
|             iCODONS|2010|        0|        0|        0|        0|        0|        1|        0|        0|        0|        0|        0|        0|        1|
|  Sigmar Recruitment|2008|        2|        0|        0|        0|        0|        0|        0|        0|        0|        0|        0|        0|        2|
|Citibank, Bank Ha...|2010|        3|        0|        0|        0|        0|        0|        0|        0|        0|        0|        0|        0|        3|
|Infosys Technolog...|2006|        0|        0|        0|        0|        0|        0|        0|        0|        5|        0|        0|        0|        5|
|              Lohika|2011|        0|        1|        0|        0|        0|        0|        1|        0|        0|        0|        0|        0|        2|
|   USA Hoist Company|2001|        0|        0|        0|        0|        0|        0|        0|        0|        4|        0|        0|        0|        4|
|  Piramyd retail Ltd|2004|        0|        1|        0|        0|        0|        0|        0|        0|        0|        0|        0|        0|        1|
|SPAR Hyper Market...|2008|        0|        0|        0|        0|        0|        0|        0|        2|        0|        0|        0|        0|        2|
|BankIslami Pakist...|2011|        0|        0|        0|        0|        1|        0|        0|        0|        0|        0|        0|        0|        1|
|    UHG-OptumInsight|2011|        0|        0|        0|        0|        0|        0|        0|        0|        0|        0|        4|        0|        4|
|    Amplify Mindware|2008|        0|        0|        0|        0|        0|        0|        0|        0|        0|        0|        0|        1|        1|
|           Freshmind|2001|        0|        0|        0|        0|        2|        0|        0|        0|        0|        0|        0|        0|        2|
|        PR Animation|2009|        0|        0|        0|        0|        0|        0|        0|        0|        2|        0|        0|        0|        2|
|      Active Website|2001|        1|        0|        0|        0|        0|        0|        0|        0|        0|        0|        0|        0|        1|
|Infosys Technolog...|2005|        1|        0|        0|        0|        0|        0|        0|        0|        3|        0|        2|        0|        6|
|   Oxfam New Zealand|2011|        0|        0|        0|        3|        0|        0|        0|        0|        0|        0|        0|        0|        3|
|          Gruppo Pro|2002|        0|        0|        0|        0|        0|        1|        0|        0|        0|        0|        0|        0|        1|
+--------------------+----+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

### Step 3.2: The Formidable Filters

Create an sdf called `hire_train_sdf` that contains all the observations in `raw_hire_train_sdf` with `total_num` greater than or equal to 10. The format of the sdf is shown below:

```
+----+-----+----------+---------+----------+----------+
|org |year |jan_hired |   ...   |dec_hired |total_num |
+----+-----+----------+---------+----------+----------+
|IBM |2008 |...       |   ...   |...       |...       |
|IBM |2009 |...       |   ...   |...       |...       |
|... |...  |...       |   ...   |...       |...       |
+----+-----+----------+---------+----------+----------+
```

In [0]:
# TODO: Create [hire_train_sdf]

##YOUR SOLUTION HERE

In [0]:
hire_train_sdf.show()

+--------------------+----+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|                 org|year|jan_hired|feb_hired|mar_hired|apr_hired|may_hired|jun_hired|jul_hired|aug_hired|sep_hired|oct_hired|nov_hired|dec_hired|total_num|
+--------------------+----+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|              Oracle|2008|        0|        2|        0|        2|        3|        1|        2|        0|        0|        0|        0|        0|       10|
|                 IBM|2009|        0|        0|        2|        0|        0|        1|        3|        0|        3|        1|        0|        0|       10|
|           Collabera|2010|       10|        0|        0|        0|        0|        0|        0|        0|        0|        0|        0|        0|       10|
|           Capgemini|2011|        3|        0|        1|        1|        0|        1|        0|        0|        2|        2|        0|        0|       10|
|              Google|2008|        0|        4|        1|        0|        0|        3|        0|        1|        0|        1|        0|        0|       10|
|           Microsoft|2010|        0|        2|        2|        4|        0|        0|        0|        0|        0|        1|        2|        0|       11|
|           Freelance|2009|        5|        0|        0|        0|        2|        1|        0|        0|        1|        3|        2|        0|       14|
|       Cisco Systems|2010|        1|        1|        0|        0|        2|        0|        2|        0|        2|        3|        0|        0|       11|
|              Oracle|2010|        0|        0|        0|        0|        0|        1|        7|        2|        0|        0|        1|        0|       11|
|           Accenture|2010|        0|        1|        0|        1|        2|        0|        1|        0|        1|        2|        3|        1|       12|
|           Microsoft|2009|        0|        1|        0|        0|        0|        4|        2|        1|        1|        1|        0|        0|       10|
|              Google|2011|        0|        0|        1|        2|       11|        1|        0|        4|        1|        0|        0|        0|       20|
|           Microsoft|2007|        0|        0|        0|        0|        4|        2|        2|        0|        3|        3|        0|        0|       14|
|              Oracle|2011|        0|        2|        2|        0|        0|        5|        1|        0|        1|        1|        0|        0|       12|
|  Wipro Technologies|2006|        0|        0|        0|        0|        0|        0|        4|        4|        0|        0|        1|        4|       13|
|Microsoft Corpora...|2006|        0|        0|        0|        0|        0|        8|        1|        0|        0|        0|        0|        1|       10|
|           Accenture|2007|        1|        0|        0|        0|        4|        2|        0|        0|        0|        4|        1|        0|       12|
|                 IBM|2011|        3|        0|        0|        0|        4|        0|        4|        3|        0|        0|        0|        0|       14|
|           Accenture|2011|        0|        0|        0|        0|        0|        2|        3|        5|        3|        3|        0|        0|       16|
|           Microsoft|2011|        0|        0|        0|        3|        3|        0|        2|        3|        0|        0|        1|        3|       15|
+--------------------+----+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

### Step 3.3: The Stupendous Stocks

Now we are ready for the stock data. The stock data we will use is saved in the same S3 bucket as `linkedin.json`. Load the data into the EMR cluster. Run the cell below. ***You do not need to edit this cell***.

In [0]:
# Load stock data
raw_stocks_sdf = spark.read.format("csv") \
              .option("header", "true") \
              .load("./drive/My Drive/Colab Notebooks/stock_prices.csv")

# Creates SQL-accesible table
raw_stocks_sdf.createOrReplaceTempView('raw_stocks')

# Display the first 10 rows
query = '''SELECT *
           FROM raw_stocks'''
spark.sql(query).show(10)

+------+-----------------+----------+
|ticker|    closing_price|      date|
+------+-----------------+----------+
|   AHH| 8.49315452575684|2013-05-08|
|   AHH| 8.47115135192871|2013-05-09|
|   AHH| 8.50782203674316|2013-05-10|
|   AHH| 8.54449367523193|2013-05-13|
|   AHH|8.456483840942381|2013-05-14|
|   AHH| 8.50782203674316|2013-05-15|
|   AHH| 8.61050128936768|2013-05-16|
|   AHH|8.625171661376951|2013-05-17|
|   AHH| 8.60316944122314|2013-05-20|
|   AHH|8.676511764526369|2013-05-21|
+------+-----------------+----------+
only showing top 10 rows

Run the cell below to see the types of the columns in our data frame. These are not correct. We could have defined a schema when reading in data but we will handle this issue in another manner. You will do this in Step 3.4.2.

In [0]:
# Print types of SDF
raw_stocks_sdf.dtypes

[('ticker', 'string'), ('closing_price', 'string'), ('date', 'string')]

### Step 3.4 The Clairvoyant Cleaning

We now want to format the stock data set into the second half of the training table. We will then merge it with `hire_train` based off the common `org` and `year` fields.

#### Step 3.4.1 The Ubiquitous UDF

The companies in our stock dataset are defined by their stock tickers. Thus, we would not be able to merge it with the `org` field in `hire_train_sdf`. We must convert them to that format. Often times when using Spark, there may not be a built-in SQL function that can do the operation we desired. Instead, we can create one on our own with a user-defined function (udf).

A udf is defined as a normal Python function and then registered to be used as a Spark SQL function. Your task is to create a udf, `TICKER_TO_NAME()` that will convert the ticker field in `raw_stocks` to the company's name. This will be done using the provided `ticker_to_name_dict` dictionary. We are only interested in the companies in that dictionary.

Fill out the function `ticker_to_name()` below. Then use `spark.udf.register()` to register it as a SQL function. The command is provided. ***You do not need to edit it***. Note, we have defined the udf as returning `StringType()`. Ensure that your function returns this. You must also deal with any potential `null` cases.

In [0]:
# TODO: Fill out [ticker_to_name()] and register it as a udf.

## YOUR SOLUTION HERE

def ticker_to_name(ticker):
  
# Register udf as a SQL function. DO NOT EDIT
spark.udf.register("TICKER_TO_NAME", ticker_to_name, StringType())

#### Step 3.4.2: The Fastidious Filters

With our new `TICKER_TO_NAME()` function we will begin to wrangle `raw_stocks_sdf`.

Create an sdf called `filter_1_stocks_sdf` as follows. Convert all the ticker names in `raw_stocks_sdf` to the company names and save it as `org`. Next, convert the `date` field to a datetime type. As explained before this will help order and group the rows in future steps. Then, convert the type of the values in `closing_price` to `float`. This will take care of the `dtypes` issue we saw in Step 3.3.

Drop any company names that do not appear in `ticker_to_name_dict`. Keep any date between January 1st 2001 and December 4th 2012 inclusive, in the format shown below (note this is a datetime object not a string):

```
+----+------------+--------------+
|org |date        |closing_price |
+----+------------+--------------+
|IBM |2000-01-03  |...           |
|... |...         |...           |
+----+------------+--------------+
```
_Hint_: You will use a similar function to filter the dates as in Step 1.4. In Spark SQL the format for the `date` field in `raw_stocks_sdf` is `"yyyy-MM-dd"`.

In [0]:
# TODO: Create [filter_1_stocks_sdf]

## YOUR SOLUTION HERE

In [0]:
filter_1_stocks_sdf.show()

+------+----------+-------------+
|   org|      date|closing_price|
+------+----------+-------------+
|Pfizer|2001-01-02|     24.92212|
|Pfizer|2001-01-03|    23.537558|
|Pfizer|2001-01-04|       22.592|
|Pfizer|2001-01-05|    22.895922|
|Pfizer|2001-01-08|    22.625769|
|Pfizer|2001-01-09|    23.368702|
|Pfizer|2001-01-10|    22.862156|
|Pfizer|2001-01-11|    22.152983|
|Pfizer|2001-01-12|    22.389381|
|Pfizer|2001-01-16|     22.52445|
|Pfizer|2001-01-17|     22.01791|
|Pfizer|2001-01-18|    22.220531|
|Pfizer|2001-01-19|    22.355614|
|Pfizer|2001-01-22|    22.760843|
|Pfizer|2001-01-23|    23.166077|
|Pfizer|2001-01-24|    23.199846|
|Pfizer|2001-01-25|    24.010323|
|Pfizer|2001-01-26|    23.942793|
|Pfizer|2001-01-29|    23.395712|
|Pfizer|2001-01-30|     23.92523|
+------+----------+-------------+
only showing top 20 rows

#### Step 3.4.3: The Magnanimous Months

The data in `filter_1_stocks_sdf` gives closing prices on a daily basis. Since we are interested in monthly trends, we will only keep the closing price on the **last trading day of each month**.

Create an sdf `filter_2_stocks_sdf` that contains only the closing prices for the last trading day of each month. Note that a trading day is not simply the last day of each month, as this could be on a weekend when the market is closed . The format of the sdf is shown below:

```
+----+------------+--------------+
|org |date        |closing_price |
+----+------------+--------------+
|IBM |2000-01-31  |...           |
|... |...         |...           |
+----+------------+--------------+
```

  _Hint_: It may be helpful to create an intermediate dataframe that will help you filter out the specific dates you desire.

In [0]:
# TODO: Create [filter_2_stocks_sdf]

## YOUR SOLUTION HERE

In [0]:
filter_2_stocks_sdf.show()

+-----------------+----------+-------------+
|              org|      date|closing_price|
+-----------------+----------+-------------+
|        Accenture|2004-05-28|    18.978838|
|             Citi|2004-06-30|    435.70758|
|             Citi|2004-11-30|     420.0729|
|             HSBC|2012-12-04|    37.099277|
|              IBM|2001-10-31|     76.18288|
|              IBM|2004-08-31|     61.02406|
|Johnson & Johnson|2001-12-31|     38.02878|
|Johnson & Johnson|2006-09-29|    45.635067|
|      Kraft Foods|2003-09-30|    13.226012|
|        Microsoft|2012-10-31|    24.469625|
|            Nokia|2001-01-31|    20.169237|
|         Novartis|2008-04-30|     34.72512|
|           Oracle|2001-04-30|    14.432037|
| Procter & Gamble|2010-09-30|    46.444077|
|         Unilever|2002-11-29|    8.7186165|
|         Unilever|2007-08-31|    20.686466|
|               BP|2003-08-29|    20.518118|
|  Bank of America|2003-11-28|     26.03784|
|  Bank of America|2008-07-31|    29.145456|
| Barclays Capital|2004-10-29|     23.31978|
+-----------------+----------+-------------+
only showing top 20 rows

#### Step 3.4.4: The Rambunctious Reshape

Now, we will begin to shape our dataframe into the format of the final training sdf.

Create an sdf `filter_3_stocks_sdf` that has for a single company and a single year, the closing stock price for the last trading day of each month in that year. This is similar to the table you created in Step 3.1. In this case since we cannot make a proxy for the closing price if the data is not avaliable, drop any rows containing any `null` values, in any column. The format of the sdf is shown below:

```
+----+-----+----------+---------+----------+
|org |year |jan_stock |   ...   |dec_stock |
+----+-----+----------+---------+----------+
|IBM |2008 |...       |   ...   |...       |
|IBM |2009 |...       |   ...   |...       |
|... |...  |...       |   ...   |...       |
+----+-----+----------+---------+----------+
```

In [0]:
# TODO: Create [filter_3_stocks_sdf]

## YOUR SOLUTION HERE

In [0]:
filter_3_stocks_sdf.show()

+---------+----+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|      org|year|jan_stock|feb_stock|mar_stock|apr_stock|may_stock|jun_stock|jul_stock|aug_stock|sep_stock|oct_stock|nov_stock|dec_stock|
+---------+----+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|Accenture|2002|19.881117|20.197304|20.590609|16.534184| 16.07918|14.652494|12.724533|12.685975|11.012507|13.017582|14.845289|13.873597|
|Accenture|2003|12.763092|11.829961| 11.95335|12.354365| 13.51114|13.950715|14.976391|16.318249|17.228245|18.045704|19.202477|20.297556|
|Accenture|2004|18.253922|17.814348|19.125355|18.331043|18.978838|21.192133|18.994257|  20.1279|20.860518|18.670366| 20.00451|20.821964|
|Accenture|2005| 20.08934|19.703743|18.624092|16.734688| 17.95316| 17.48274|19.310446|18.816887|19.634342|20.535488|22.197994|22.533619|
|Accenture|2006|  24.6098|25.491789|23.470243|22.689726|21.971642|22.104328|22.838018|23.150227|24.750296| 25.97206|26.595509| 29.14458|
|Accenture|2007|29.791712|28.237013|30.415163|30.857115| 32.30921| 33.84813| 33.24834| 32.52229|31.764671|31.142376|  27.5616|28.733923|
|Accenture|2008|27.609447|28.111877|28.048069| 29.94612| 32.55394|  32.4742|33.303593|32.984596|30.304995|26.776814|25.099716| 26.56616|
|Accenture|2009|25.569622|23.649471|22.272146|23.843916|24.249016|27.108992|28.413393|  26.7363|30.195814| 30.62453| 33.89512|34.275032|
|Accenture|2010|33.853825|  33.0114|34.646694|36.358814|31.259914| 32.20138|  33.0262|30.493412|35.400692| 37.62049|36.450886|40.801105|
|Accenture|2011|43.308575| 43.31699|46.253593| 48.46163| 48.68219|51.252438|50.166653|45.458767|44.686832|51.729073|49.728935| 45.69431|
|Accenture|2012|49.222466|51.111015| 55.36883|56.357517|49.546024| 52.14048|52.322685| 53.45071| 60.76548|  59.1729| 59.62059| 60.22627|
|       BP|2001|23.284948|22.569365|22.578472|24.607897|24.439312|22.818876|22.622051| 23.43871|22.650976|22.268621|20.483982|21.569159|
|       BP|2002| 21.66655|23.143597|24.801704|23.727448|24.011484|23.738796|21.815804|22.175005|18.905603|18.218563|18.753345|19.442062|
|       BP|2003|18.657688|18.401495|18.633265|18.609118|20.413568|20.476917|20.247877|20.518118|20.705015|20.842722|21.189156|24.494848|
|       BP|2004|23.626242| 24.62511|25.626127|26.476992|26.732676|27.020176|28.427435|27.295452|29.242222| 29.60819|31.408638|29.898357|
|       BP|2005|30.522942|33.509933|32.209183|31.434927| 31.33362|32.468285|34.289993|35.864902|  37.1604|  34.8264| 34.81307|33.956482|
|       BP|2006| 38.23409| 35.40757|36.750927|39.299095|37.969193| 37.38381| 38.94661| 36.85579|35.518032|36.341263|  37.1939| 36.65849|
|       BP|2007|34.697178|33.958885|35.730206|37.148373| 37.31543| 40.17214| 38.64633|37.871956|38.990818|43.848495|41.232788|41.476532|
|       BP|2008| 36.25017| 37.22258|34.801125| 41.76709|42.077793|40.371696|35.653835|33.910072|29.520536|29.243975|29.170252| 28.00201|
|       BP|2009|25.443832|23.450315|24.514015|25.956736|30.800116|29.667667| 31.13612|32.551403|33.677563|35.822357| 36.69092|37.197845|
+---------+----+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

#### Step 3.4.5: The Decisive Direction

The final element in our training set is the binary output for each case, i.e. the `y` label. 

Create an sdf `stocks_train_sdf` from `filter_3_stocks_sdf` with an additional column `direction`. This should be the direction of percentage change in the closing stock price, i.e. `1` for positive or `-1` for negative, in the first quarter of a given year. The quarter of a year begins in January and ends in April, inclusive. We want to know the percent change between these two months. Reference Step 2.2 for the percent change formula. The format of the sdf is shown below:

```
+----+-----+----------+---------+----------+-------------+
|org |year |jan_stock |   ...   |dec_stock |direction    |
+----+-----+----------+---------+----------+-------------+
|IBM |2008 |...       |   ...   |...       |1.0          |
|IBM |2009 |...       |   ...   |...       |-1.0         |
|... |...  |...       |   ...   |...       |...          |
+----+-----+----------+---------+----------+-------------+
```

In [0]:
# TODO: Create [stocks_train_sdf]

 ## YOUR SOLUTION HERE

In [0]:
stocks_train_sdf.show()

+---------+----+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|      org|year|jan_stock|feb_stock|mar_stock|apr_stock|may_stock|jun_stock|jul_stock|aug_stock|sep_stock|oct_stock|nov_stock|dec_stock|direction|
+---------+----+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|Accenture|2002|19.881117|20.197304|20.590609|16.534184| 16.07918|14.652494|12.724533|12.685975|11.012507|13.017582|14.845289|13.873597|     -1.0|
|Accenture|2003|12.763092|11.829961| 11.95335|12.354365| 13.51114|13.950715|14.976391|16.318249|17.228245|18.045704|19.202477|20.297556|     -1.0|
|Accenture|2004|18.253922|17.814348|19.125355|18.331043|18.978838|21.192133|18.994257|  20.1279|20.860518|18.670366| 20.00451|20.821964|      1.0|
|Accenture|2005| 20.08934|19.703743|18.624092|16.734688| 17.95316| 17.48274|19.310446|18.816887|19.634342|20.535488|22.197994|22.533619|     -1.0|
|Accenture|2006|  24.6098|25.491789|23.470243|22.689726|21.971642|22.104328|22.838018|23.150227|24.750296| 25.97206|26.595509| 29.14458|     -1.0|
|Accenture|2007|29.791712|28.237013|30.415163|30.857115| 32.30921| 33.84813| 33.24834| 32.52229|31.764671|31.142376|  27.5616|28.733923|      1.0|
|Accenture|2008|27.609447|28.111877|28.048069| 29.94612| 32.55394|  32.4742|33.303593|32.984596|30.304995|26.776814|25.099716| 26.56616|      1.0|
|Accenture|2009|25.569622|23.649471|22.272146|23.843916|24.249016|27.108992|28.413393|  26.7363|30.195814| 30.62453| 33.89512|34.275032|     -1.0|
|Accenture|2010|33.853825|  33.0114|34.646694|36.358814|31.259914| 32.20138|  33.0262|30.493412|35.400692| 37.62049|36.450886|40.801105|      1.0|
|Accenture|2011|43.308575| 43.31699|46.253593| 48.46163| 48.68219|51.252438|50.166653|45.458767|44.686832|51.729073|49.728935| 45.69431|      1.0|
|Accenture|2012|49.222466|51.111015| 55.36883|56.357517|49.546024| 52.14048|52.322685| 53.45071| 60.76548|  59.1729| 59.62059| 60.22627|      1.0|
|       BP|2001|23.284948|22.569365|22.578472|24.607897|24.439312|22.818876|22.622051| 23.43871|22.650976|22.268621|20.483982|21.569159|      1.0|
|       BP|2002| 21.66655|23.143597|24.801704|23.727448|24.011484|23.738796|21.815804|22.175005|18.905603|18.218563|18.753345|19.442062|      1.0|
|       BP|2003|18.657688|18.401495|18.633265|18.609118|20.413568|20.476917|20.247877|20.518118|20.705015|20.842722|21.189156|24.494848|     -1.0|
|       BP|2004|23.626242| 24.62511|25.626127|26.476992|26.732676|27.020176|28.427435|27.295452|29.242222| 29.60819|31.408638|29.898357|      1.0|
|       BP|2005|30.522942|33.509933|32.209183|31.434927| 31.33362|32.468285|34.289993|35.864902|  37.1604|  34.8264| 34.81307|33.956482|      1.0|
|       BP|2006| 38.23409| 35.40757|36.750927|39.299095|37.969193| 37.38381| 38.94661| 36.85579|35.518032|36.341263|  37.1939| 36.65849|      1.0|
|       BP|2007|34.697178|33.958885|35.730206|37.148373| 37.31543| 40.17214| 38.64633|37.871956|38.990818|43.848495|41.232788|41.476532|      1.0|
|       BP|2008| 36.25017| 37.22258|34.801125| 41.76709|42.077793|40.371696|35.653835|33.910072|29.520536|29.243975|29.170252| 28.00201|      1.0|
|       BP|2009|25.443832|23.450315|24.514015|25.956736|30.800116|29.667667| 31.13612|32.551403|33.677563|35.822357| 36.69092|37.197845|      1.0|
+---------+----+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

### Step 3.5: The Capricious Combination

Now that we have individually created the two halfs of our training data we will merge them together to create the final training sdf we showed in the beginning of Step 3.

Create an sdf called `training_sdf` in the format of the one shown at the beginning of Step 3. Note that in our definition for the `stock_result` column, the `stock_result` value for a particular year corresponds to the direction of the stock percentage change in the **following** year. For example, the stock_result in the `2008` row for `IBM` will contain the direction of IBM's stock in the first quarter of 2009. The format of the sdf is shown below:
```
+----+-----+----------+---------+----------+----------+---------+----------+-------------+
|org |year |jan_hired |   ...   |dec_hired |jan_stock |   ...   |dec_stock |stock_result |
+----+-----+----------+---------+----------+----------+---------+----------+-------------+
|IBM |2008 |...       |   ...   |...       |...       |   ...   |...       |-1.0         |
|IBM |2009 |...       |   ...   |...       |...       |   ...   |...       |1.0          |
|... |...  |...       |   ...   |...       |...       |   ...   |...       |...          |
+----+-----+----------+---------+----------+----------+---------+----------+-------------+
```

In [0]:
# TODO: Create [training_sdf]

## YOUR SOLUTION HERE

In [0]:
training_sdf.show()

+------------------+----+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+------------+
|               org|year|jan_hired|feb_hired|mar_hired|apr_hired|may_hired|jun_hired|jul_hired|aug_hired|sep_hired|oct_hired|nov_hired|dec_hired|jan_stock|feb_stock|mar_stock|apr_stock|may_stock|jun_stock|jul_stock|aug_stock|sep_stock|oct_stock|nov_stock|dec_stock|stock_result|
+------------------+----+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+------------+
|Wipro Technologies|2006|        0|        0|        0|        0|        0|        0|        4|        4|        0|        0|        1|        4|3.4224024| 3.201156|3.4270115|3.2933416|2.7632725|2.9850497|2.9012916|2.9501507|3.0827675|3.3875542|3.6481357|3.7574866|        -1.0|
|               IBM|2011|        3|        0|        0|        0|        4|        0|        4|        3|        0|        0|        0|        0|128.32043|128.73308| 129.6794|135.65163|134.94023|137.03311|145.26068|137.91862|140.29338|148.12355|151.43352|148.11487|         1.0|
|         Microsoft|2009|        0|        1|        0|        0|        0|        4|        2|        1|        1|        1|        0|        0|13.403088|12.745262|14.497245|15.988795|16.590673|18.877947|  18.6794|19.686914|20.541473|22.146774| 23.59235| 24.45069|         1.0|
|            Google|2011|        0|        0|        1|        2|       11|        1|        0|        4|        1|        0|        0|        0|300.48047|307.00702|293.67368|272.32233|264.77478|253.44345|302.14716|270.75076|257.77777| 296.6166|  299.995| 323.2733|         1.0|
|            Google|2010|        0|        0|        4|        0|        1|        4|        1|        0|        1|        0|        5|        0|265.23523|263.66367|283.84384| 263.1131|243.05806| 222.6977|242.66766|225.23523|263.15817|307.15717|278.13315| 297.2823|        -1.0|
|         Microsoft|2008|        0|        0|        1|        0|        0|        7|        2|        0|        1|        0|        0|        4|25.089111|21.014587|21.926254|22.034414|21.960442|21.332335|19.944298|21.246143|20.779022|17.384617| 15.84856|15.237188|         1.0|
|         Accenture|2004|        0|        1|        3|        0|        0|        2|        1|        5|        0|        0|        1|        0|18.253922|17.814348|19.125355|18.331043|18.978838|21.192133|18.994257|  20.1279|20.860518|18.670366| 20.00451|20.821964|        -1.0|
|         Microsoft|2006|        0|        0|        1|        0|        4|        0|        1|        1|        0|        5|        1|        4|21.069159|20.179277|20.434622|18.136572|  17.0764|17.566456| 18.13944|19.447233|20.695787|21.724894| 22.29271|22.672358|        -1.0|
|            Oracle|2010|        0|        0|        0|        0|        0|        1|        7|        2|        0|        0|        1|        0|20.790052|22.223534|23.179193|23.368156|20.387291|19.384636|  21.3996|19.770187|24.305382| 26.64452|24.531458|28.385752|         1.0|
|         Accenture|2010|        0|        1|        0|        1|        2|        0|        1|        0|        1|        2|        3|        1|33.853825|  33.0114|34.646694|36.358814|31.259914| 32.20138|  33.0262|30.493412|35.400692| 37.62049|36.450886|40.801105|         1.0|
|         Microsoft|2011|        0|        0|        0|        3|        3|        0|        2|        3|        0|        0|        1|        3|22.707973|21.894892|20.914648|21.351227| 20.73666| 21.55751|22.718294|22.194193|20.767426|22.219223| 21.50385|21.823296|         1.0|
|         Microsoft|2010|        0|        2|        2|        4|        0|        0|        0|        0|        0|        1|        2|        0| 22.60566|23.106277|23.605959|24.613388|20.887058|18.628342|20.895153|19.102102| 19.93228|21.706566|20.685299|22.855371|        -1.0|
|               IBM|2004|        0|        0|        2|        0|        2|        0|        3|        0|        0|        4|        1|        0| 71.09023|  69.2465| 65.90257|63.269043|63.699318|63.382954|  62.6064| 61.02406|61.780605|64.670044|68.036644|71.169914|        -1.0|
|         Microsoft|2007|        0|        0|        0|        0|        4|        2|        2|        0|        3|        3|        0|        0|23.431643|21.463324|21.234745| 22.81192| 23.45911|22.526556|22.159647|22.037878|22.597847|  28.2358| 25.85872|27.397928|        -1.0|
|     Cisco Systems|2010|        1|        1|        0|        0|        2|        0|        2|        0|        2|        3|        0|        0|18.139093|19.640594|21.012932|21.739466|18.696098|17.202671|18.623446|16.137093|17.678951|18.453924|15.467071|16.330835|        -1.0|
|         Accenture|2011|        0|        0|        0|        0|        0|        2|        3|        5|        3|        3|        0|        0|43.308575| 43.31699|46.253593| 48.46163| 48.68219|51.252438|50.166653|45.458767|44.686832|51.729073|49.728935| 45.69431|         1.0|
|            Oracle|2011|        0|        2|        2|        0|        0|        5|        1|        0|        1|        1|        0|        0|29.094435|29.884706|30.366133|32.722794| 31.13943|29.947361|27.876394|25.588306|26.199068|29.932493| 28.63545|23.429007|         1.0|
|            Google|2008|        0|        4|        1|        0|        0|        3|        0|        1|        0|        1|        0|        0|282.43243|235.82582|220.45546|287.43243| 293.1932|263.47348| 237.1121|231.87688|200.46046|179.85986|146.62663|153.97897|         1.0|
|               IBM|2006|        6|        1|        0|        0|        0|        2|        0|        2|        2|        2|        2|        0|  59.2463| 58.62066| 60.24984|60.154823|58.583298| 56.32501|56.757626|59.604603|60.318645| 67.96708| 67.88484| 71.74734|         1.0|
|            Oracle|2008|        0|        2|        0|        2|        3|        1|        2|        0|        0|        0|        0|        0|18.352621|16.789745|17.468481|18.620543| 20.39775|18.754501|19.227835|19.585062| 18.13828|16.334276|14.369522|15.834158|         1.0|
+------------------+----+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+------------+
only showing top 20 rows